/*INDEX MAIN*/
/*banner*/
main {
    .banner {
        background-image: url(../img/banner-1.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: local;
        padding: 80px 40px;
        div {
            div {
                .titulo-banner {
                    margin-bottom: 10px;
                    font-size: 5rem;
                    font-weight: 30px;
                    letter-spacing: 10px;
                    color: $color-titulo;
                    font-family: $fuente-2;
                }
            }
            div {
                .parrafo-banner {
                    font-size: 2rem;
                    text-align: center;
                    padding-bottom: 0;
                    margin: 0px;
                    padding-left: 10px;
                    margin-left: 15px;
                    color: $color-subtitulos;
                }
            }
            .banner-1 {
                a {
                    text-decoration: none;
                    margin-top: 10px;
                    display: inline-block;
                    border-radius: 6px;
                    padding: 10px 10px;
                    text-decoration: none;
                    background-color: $color-bg-w;
                    color: $color-subtitulos;
                    &:hover {
                        color: $color-hover-link;
                        box-shadow: map-get($shadow, hover-sombra);
                        background-color: $color-bg-hover-link;
                    }
                }
                .banner-1:nth-child(2) {
                    margin-bottom: 10px;
                    margin: 5px;
                }
            }
        }
    } 
}


@media screen and (max-width: 900px){
    main {
        .banner {
            div {
                div {
                    .titulo-banner {
                        font-size: 3rem;
                        margin-left: 15px;
                    }
                }
                div {
                    .parrafo-banner {
                        font-size: 1rem;
                        text-align: center;
                        margin-left: 15px;
                    }
                }
                .banner-1 {
                    width: 700px;
                    height: 34px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .banner-link {
        font-size: 0.8rem;
    }
}


/*INDEX MAIN SECTION INFO */
main{
    section{
        .info {
            background-color: $color-bg-1;
            color: $color-titulo;
            padding: 20px 80px;
            text-align: center;
            div {
                h2 {
                    font-size: 25px;
                    font-family: $fuente-2;
                }
                p {
                    margin-top: 10px;
                    color: $color-basic;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    main {
        section {
            .info {
                div {
                    h2 {
                        font-size: 15px;
                    }
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

