/* Barra de Navegación*/
header{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: end;
        .logo {
            margin-left: 10px;
            margin-right: 30px;
            .navbar-brand {
                margin-right: auto;
            }
            img {
                width: 100px;
                height: 50px;
                margin-right: 30px;
            }
        }
        .navbar-nav{
            margin-left: auto;
            justify-content: end;
            li{
                a {
                    text-decoration: none;
                    color: $color-subtitulos;
                    margin: 10px 20px 20px;
                    padding: 5px;
                    &:hover {
                        color: $color-hover-link;
                        box-shadow: map-get($shadow, hover-sombra);
                        border-radius: 10px;
                        background-color: $color-bg-hover-link;
                    }
                }
            }
        }
    }
}

