main{
    section{
        .page-title {
            text-align: center;
            padding-top: 10px;
            letter-spacing: 2px;
            color: $color-titulo;
            background-color: $color-bg-1;
            h1 {
                font-family: $fuente-2;
            }
            p {
                color: $color-basic;
                font-size: 17px;
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width:990px) {
    main{
        section{
            .page-title {
                font-size: 14px;
                p {
                    font-size: 13px;
                }
            }
        }
    }    
}